{
  "plugins": [
    [
      "inline-svg",
      {
        "ignorePattern": "icons",
        "disableNamespaceIds": true,
        "svgo": {
          "plugins": [
            {
              "removeDimensions": true
            }
          ]
        }
      }
    ]
  ]
}
